.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}


.reviews {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.card-body {

  display: -webkit-box;
  max-width: 300px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;

}

.review-card-details {
  max-width: 100%;
  margin-left: 6rem;
  margin-right: 6rem;
  padding-left: 4rem;
}

.review-card {
  margin-left: 4rem;
  margin-right: 4rem
}

.author {
  font-size: 14px;
  font-weight: 500;
}

.date {
  font-size: 14px;
  font-weight: 500;
  color: rgb(156, 163, 175)
}

.card {}